/* Suggestion selector. */
.simpleautocomplete-selector {
  max-height: 200px;
  margin: 0;
  padding: 2px;
  border: 1px solid #333;
  background-color: #fff;
  overflow-y: auto;
}
.simpleautocomplete-selector[hidden] {
  display: none;
}
/* Suggestion. */
.simpleautocomplete-selector .simpleautocomplete-suggestion {
  margin: 0;
  padding: 3px;
  color: #555555;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  cursor: pointer;
}
/* Selected suggestion. */
.simpleautocomplete-selector .simpleautocomplete-suggestion[aria-selected="true"] {
  background-color: #f0f0f0;
  outline: 1px solid #c0c0c0;
}
/* Highlighted text in the suggestion. */
.simpleautocomplete-selector .simpleautocomplete-suggestion span {
  font-weight: bold;
}
